/** select 装饰器 */
.ui-selectbox {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	position: relative;
	padding: 0;
	text-align: left;
	vertical-align: middle;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: 1px solid #DDD;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #B7B7B7;
	*zoom: 1;
	*overflow: visible;
	outline: 0 none;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #fafafa 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #fafafa 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #fafafa 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom, #fafafa 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
	-webkit-transition: all linear 0.2s;
	 -moz-transition: all linear 0.2s;
	   -o-transition: all linear 0.2s;
	      transition: all linear 0.2s;
}
.ui-selectbox:hover {
	
}
.ui-selectbox::-moz-focus-inner {
	border: 0;
	padding: 0;
}
select[disabled] + .ui-selectbox {
	color: #CCC;
	cursor: default;
	box-shadow: none;
	opacity: .7;
}
.ui-selectbox-inner {
	display: block;
	margin: 0 5px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ui-selectbox .ui-selectbox-icon {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -2px;
	border-top: 5px solid #A7A7A7;
	border-left: 5px dashed transparent;
	border-right: 5px dashed transparent;
	border-bottom: 0 none;
	display: block;
	width: 0;
	height: 0;
	overflow:hidden;
	line-height:0;
	font-size: 0;
	_color:#FF3FFF;
	_filter:chroma(color=#FF3FFF);
}
.ui-selectbox-open .ui-selectbox-icon {
	margin-top: -3px;
	border-top: 0 none;
	border-bottom: 5px solid #A7A7A7;
}
.ui-selectbox-focus {
	border: 1px solid #09E;
	outline: 0 none;
	box-shadow: 0 0 3px #06C;
}
.ui-selectbox-dropdown {
	margin: 0;
	padding: 0;
	font-size: 12px;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #ccc;
	background: #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border: solid 1px #DCDCDC;
}
.ui-selectbox-dropdown::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	overflow: visible;
}
.ui-selectbox-dropdown::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
.ui-selectbox-dropdown::-webkit-scrollbar-track {
	background-clip: padding-box;
}
.ui-selectbox-dropdown::-webkit-scrollbar-track:hover {
	background-color: rgba(0,0,0,.04);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.05);
}
.ui-selectbox-dropdown::-webkit-scrollbar-track:active {
	background-color: rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
.ui-selectbox-dropdown::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.14);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 2px;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.12),inset 0 -1px 0 rgba(0,0,0,.07);
}
.ui-selectbox-dropdown::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,.28);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
}
.ui-selectbox-dropdown::-webkit-scrollbar-thumb:active {
	background-color: rgba(0,0,0,.5);
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
}
.ui-selectbox-optgroup,
.ui-selectbox-option {
	margin: 0;
	padding: 8px 10px;
	white-space: nowrap;
	cursor: pointer;
	color: #555;
	background: transparent;
	outline: 0 none;
}
.ui-selectbox-optgroup {
	cursor: default;
	color: #000;
	font-weight: bold;
	font-style: italic;
}
.ui-selectbox-option:hover {
	background: #EEE;
}
.ui-selectbox-option:focus {
	outline: 0 none;
}
.ui-selectbox-dropdown .ui-selectbox-selected,
.ui-selectbox-dropdown .ui-selectbox-selected:hover {
	background: #3870F3;
	color: #FFF;
}
.ui-selectbox-dropdown .ui-selectbox-disabled,
.ui-selectbox-dropdown .ui-selectbox-disabled:hover {
	color: #CCC;
	cursor: default;
	background: #FFF;
}