<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="../../dist/angular/test.css">
</head>
<body>

<button id="test" ng-init="x={show:true}">me</button>
<bubble ng-show="x.show" for="test" close="x.show=false">hello world</bubble>

<button drag style="position: absolute;left:400px;top:20px">drag</button>

<div ng-init="d={show: true,log: '--'}"></div>


<dialog ng-if="d.show" drag close="d.show=false">
    <div dialog-title drag-handle>提示</div>
    <div dialog-content>hello wrold</div>
    <div dialog-close ng-click="d.show = false"></div>
</dialog>






<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/angular/angular.js"></script>


<script src="../../dist/angular/common.js"></script>
<script src="../../dist/angular/test.js"></script>
</body>
</html>