@import url('./ui-popup.css');
.ui-bubble {
    position: relative;
    background-color: #FDF8DF;
    border: 1px solid #999;
    border-radius: 3px;
    outline: 0;
    background-clip: padding-box;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.428571429;
    color: #CD9C4F;
}
.ui-popup-focus .ui-bubble {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.ui-bubble-content {
    padding: 5px;
}

.ui-popup-top-left .ui-bubble,
.ui-popup-top .ui-bubble,
.ui-popup-top-right .ui-bubble {
    top: -8px;
}
.ui-popup-bottom-left .ui-bubble,
.ui-popup-bottom .ui-bubble,
.ui-popup-bottom-right .ui-bubble {
    top: 8px;
}
.ui-popup-left-top .ui-bubble,
.ui-popup-left .ui-bubble,
.ui-popup-left-bottom .ui-bubble {
    left: -8px;
}
.ui-popup-right-top .ui-bubble,
.ui-popup-right .ui-bubble,
.ui-popup-right-bottom .ui-bubble {
    left: 8px;
}
.ui-bubble::before,
.ui-bubble::after {
    content: '';
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    overflow:hidden;
    _color:#FF3FFF;
    _filter:chroma(color=#FF3FFF);
    border:8px dashed transparent;
}
.ui-popup-anchor .ui-bubble::before,
.ui-popup-anchor .ui-bubble::after{
    display: block;
}
.ui-popup-top-left .ui-bubble::before,
.ui-popup-top .ui-bubble::before,
.ui-popup-top-right .ui-bubble::before {
    bottom: -16px;
    border-top:8px solid #7C7C7C;
}
.ui-popup-top-left .ui-bubble::after,
.ui-popup-top .ui-bubble::after,
.ui-popup-top-right .ui-bubble::after {
    bottom: -15px;
    border-top:8px solid #FDF8DF;
}
.ui-popup-top-left .ui-bubble::before,
.ui-popup-top-left .ui-bubble::after  {
    left: 15px;
}
.ui-popup-top .ui-bubble::before,
.ui-popup-top .ui-bubble::after  {
    left: 50%;
    margin-left: -8px;
}
.ui-popup-top-right .ui-bubble::before,
.ui-popup-top-right .ui-bubble::after {
    right: 15px;
}
.ui-popup-bottom-left .ui-bubble::before,
.ui-popup-bottom .ui-bubble::before,
.ui-popup-bottom-right .ui-bubble::before {
    top: -16px;
    border-bottom:8px solid #7C7C7C;
}
.ui-popup-bottom-left .ui-bubble::after,
.ui-popup-bottom .ui-bubble::after,
.ui-popup-bottom-right .ui-bubble::after {
    top: -15px;
    border-bottom:8px solid #FDF8DF;
}
.ui-popup-bottom-left .ui-bubble::before,
.ui-popup-bottom-left .ui-bubble::after {
    left: 15px;
}
.ui-popup-bottom .ui-bubble::before,
.ui-popup-bottom .ui-bubble::after {
    margin-left: -8px;
    left: 50%;
}
.ui-popup-bottom-right .ui-bubble::before,
.ui-popup-bottom-right .ui-bubble::after {
    right: 15px;
}
.ui-popup-left-top .ui-bubble::before,
.ui-popup-left .ui-bubble::before,
.ui-popup-left-bottom .ui-bubble::before {
    right: -16px;
    border-left:8px solid #7C7C7C;
}
.ui-popup-left-top .ui-bubble::after,
.ui-popup-left .ui-bubble::after,
.ui-popup-left-bottom .ui-bubble::after {
    right: -15px;
    border-left:8px solid #FDF8DF;
}
.ui-popup-left-top .ui-bubble::before,
.ui-popup-left-top .ui-bubble::after {
    top: 15px;
}
.ui-popup-left .ui-bubble::before,
.ui-popup-left .ui-bubble::after {
    margin-top: -8px;
    top: 50%;
}
.ui-popup-left-bottom .ui-bubble::before,
.ui-popup-left-bottom .ui-bubble::after {
    bottom: 15px;
}
.ui-popup-right-top .ui-bubble::before,
.ui-popup-right .ui-bubble::before,
.ui-popup-right-bottom .ui-bubble::before {
    left: -16px;
    border-right:8px solid #7C7C7C;
}
.ui-popup-right-top .ui-bubble::after,
.ui-popup-right .ui-bubble::after,
.ui-popup-right-bottom .ui-bubble::after {
    left: -15px;
    border-right:8px solid #FDF8DF;
}
.ui-popup-right-top .ui-bubble::before,
.ui-popup-right-top .ui-bubble::after {
    top: 15px;
}
.ui-popup-right .ui-bubble::before,
.ui-popup-right .ui-bubble::after {
    margin-top: -8px;
    top: 50%;
}
.ui-popup-right-bottom .ui-bubble::before,
.ui-popup-right-bottom .ui-bubble::after {
    bottom: 15px;
}