.ui-popup {
    display: none;
    position: absolute;
}
.ui-popup:focus {
    outline: 0;
}
.ui-popup-show {
    display: block;
}
.ui-popup-modal::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    -webkit-transform: scale(3);
    transform: scale(3);
}